# Strings

In [1]:
empresa = 'Google'
print(empresa)

Google

In [3]:
empresa = "Let's Code"
print(empresa)

Let's Code

In [4]:
#caracter de escape
frase = "O professor Pietro da Let's Code disse:\"Hoje a pizza é por minha conta.\""
print(frase)

O professor Pietro da Let's Code disse:"Hoje a pizza é por minha conta"

In [5]:
empresa = 'Google'
print(empresa[0])

G

In [6]:
#uso do slice
print(empresa[:3])

Goo

In [7]:
#uso do split
nomes_cidades = "São Paulo, Belo Horizonte, Rio de Janeiro, Brasília"
nomes_cidades = nomes_cidades.split(', ')
print(nomes_cidades)

['São Paulo', 'Belo Horizonte', 'Rio de Janeiro', 'Brasília']

In [9]:
#uso de strip

cabecalho = "      Menu Principla       "
print(cabecalho.strip())

Menu Principla

In [10]:
nome_cidade = "rIo DE jaNeirO"

#Primeira letra de cada palavra fica maiuscula e o resto minusculo
print(nome_cidade.title())

#Primeira letra da frase em maiusculo e o resto em minusculo
print(nome_cidade.capitalize())

#todo o texto em minusculo
print(nome_cidade.lower())

#todo o texto em maiusculo
print(nome_cidade.upper())

Rio De Janeiro
Rio de janeiro
rio de janeiro
RIO DE JANEIRO

In [12]:
nome_cidade = input ("Que cidade do Brasil é conhecida como cidade maravilhosa?")
nome_cidade = nome_cidade.strip()

while nome_cidade.lower() != "rio de janeiro":
    print("Tente de novo")
    nome_cidade = input ("Que cidade do Brasil é conhecida como cidade maravilhosa?")

print('Isso ai!')

Que cidade do Brasil é conhecida como cidade maravilhosa?São paulo
Tente de novo
Que cidade do Brasil é conhecida como cidade maravilhosa?Belo Horixonre
Tente de novo
Que cidade do Brasil é conhecida como cidade maravilhosa?RIO DE JANEIRO
Isso ai!

In [15]:
mensagem = 'Você viu o que ele disse na sala ontem?'
fui_citado = 'ele' in mensagem
print(fui_citado)

True

#Supondo que temos a seguinte string:

frase = 'uma FRASE'

#Podemos acessar individualmente cada caractere em uma frase
#A ideia é a mesma de acessar uma lista:
print(frase[0])
print(frase[1])
print(frase[2])

tamanho = len(frase)
print("A frase possui", tamanho, "caracteres")

#Porém, strings são imutáveis: não podemos alterar caracteres individuais
#A linha abaixo, se for descomentada, dará erro no programa:
#frase[4]= 'C'

#Podemos converter strings para listas:
listafrase = list(frase)
print(listafrase)

#A função join() intercala cada elemento de uma lista com uma string
stringfinal = '-py'.join(listafrase)
print(stringfinal)

#Usar um join() com uma string vazia é útil para transformar a lista de volta em string:
stringfinal = ''.join(listafrase)

#Existem algumas funções interessantes que retornam a string "tratada":
s1 = frase.capitalize() # 1a letra maiúscula, restante minúscula
s2 = frase.title() # todo início de palavra em maiúscula, resto minúscula
s3 = frase.upper() # string inteira em maiúscula
s4 = frase.lower() # string inteira em minúscula
s5 = frase.replace('F', 'C') # substitui a primeira substring pela segunda

print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
#Note que NENHUMA delas ALTERA a string original, elas sempre retornam

#A string nova.
print('String original:', frase)

#Outra possibilidade com strings é quebrar a string em uma lista de substrings
#Sempre que o caractere especificado é encontrado, a string é quebrada
quebra1 = frase.split(' ') # quebra a frase no caractere espaço em branco
quebra2 = s3.split('A') # quebra a frase em maiúsculas no caractere 'A'

print(quebra1)
print(quebra2)

#Podemos inserir quebras de linha com '\n'
frase = 'uma\nFRASE'
print(frase)
#Podemos inserir tabulação com '\t'
frase = 'uma\n\tFRASE'
print(frase)
#Para conseguir representar a barra '\', precisamos de 2 barras:
frase = 'uma\\FRASE'

# Uso de Operadores aritméticos com string

In [16]:
comprimento = 'Olá, '
nome = 'Felipe'
print (comprimento + nome)

Olá, Felipe

In [17]:
print (nome*5)

FelipeFelipeFelipeFelipeFelipe

In [19]:
nome = 'Eduarda'
idade = 22
n_filhos = 1
print(nome + ' tem ' + str(idade) + ' anos e ' + str(n_filhos) + ' filho')

Eduarda tem 22 anos e 1 filho

In [20]:
print('{} tem {} anos e {} filho'.format(nome, idade, n_filhos))

Eduarda tem 22 anos e 1 filho

In [25]:
#Funções especiais de formatação

preco_gasolina = 3.476
print("O preço da gasolina hoje subiu e está em R$ {:.2f}".format(preco_gasolina))

'''
: indica que passaremos opções
.2 indica apenas 2 casas após o ponto decimal
f indica que é um float 
'''

preco = 3.8547664
stringoriginal = 'O litro da gasolina custa {:.2f}'
stringcompleta = stringoriginal.format(preco)

print(stringcompleta)

O preço da gasolina hoje subiu e está em R$ 3.48

NameError: name 'stringoriginal' is not defined

In [22]:
f'{nome} tem {idade} anos e {n_filhos} filhos.'

'Eduarda tem 22 anos e 1 filhos.'

In [24]:
prod = 'chocolate'
preco = 3.14
print ('O produto {} custa {}.'.format(prod,preco))

O produto chocolate custa 3.14.

In [ ]:
#Funções especiais de formatação

stringoriginal = 'O litri de gasolina custa {:.2f}'